* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Zen Dots", cursive;
  font-size: 16px;
}

#LogoImage {
  width: 80px;
  height: 90px;
  display: block;
  cursor: pointer;
  margin-right: auto;
  padding: 8px;
}

main {
  min-height: 100%;
  overflow: auto;
}

Body {
  background-color: #4c3f54;
  height: 100%;
  min-height: 100vh;
}

/* Grid code */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: stretch;
  column-gap: 15px;
  row-gap: 20px;
}

.btn {
  background-color: #fff;
  padding: 50px 60px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
  transition: 0.2s, box-shadow 0.2s;
  margin: 15px;
  display: inline-block;
  text-align: center;
  word-wrap: break-all;
  position: relative;
  border: 2px solid #fff;
}

.btnz {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  word-wrap: break-all;
  margin: 5px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.color .btn:hover {
  background-color: rgb(0, 150, 250);
  color: white;
  display: block;
  border: 2px solid #fff;
}

.btn1 {
  justify-self: stretch;
  grid-area: btn1;
}

.btn2 {
  justify-self: stretch;
  grid-area: btn2;
}

.btn3 {
  justify-self: stretch;
  grid-area: btn3;
}

.btn4 {
  justify-self: stretch;
  grid-area: btn4;
}

.btn5 {
  justify-self: stretch;
  grid-area: btn5;
}

.btn6 {
  justify-self: stretch;
  grid-area: btn6;
}

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: stretch;
    column-gap: 5px;
    row-gap: 6px;
  }

  .btn {
    background-color: #fff;
    padding: 50px 60px;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
    transition: 0.2s, box-shadow 0.2s;
    margin: 15px;
    display: inline-block;
    text-align: center;
    word-wrap: break-all;
    position: relative;
    border: 2px solid #fff;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: stretch;
    column-gap: 5px;
    row-gap: 6px;
  }

  .btn {
    background-color: #fff;
    padding: 50px 60px;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    cursor: pointer;
    transition: 0.2s, box-shadow 0.2s;
    margin: 15px;
    display: inline-block;
    text-align: center;
    word-wrap: break-all;
    position: relative;
    border: 2px solid #fff;
  }
}

/*Footer code*/

.FooterContainer {
  background-color: #7e5699;
  position: relative;
  margin-top: -100px;
  clear: both;
  padding: 2rem 0 1rem;
  margin: 6rem auto 0;
  box-sizing: border-box;
  display: block;
  bottom: 0;
}

.Footer {
  width: 80%;
  height: 15vh;
  background-color: #7e5699;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  bottom: 0;
}

.FooterHeading {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.FooterHeading h2 {
  margin-bottom: 1rem;
  font-size: 1.4em;
}

.FooterHeading a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.FooterHeading a:hover {
  color: rgb(0, 255, 221);
  transition: 0.3s ease-out;
}

/*Nav Menu configuration*/
header li,
header a,
header Button {
  font-weight: 800;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerDiv {
  display: block;
  margin-right: auto;
}

.NavMenu {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

.NavMenu li {
  display: inline-block;
  padding: 0px 20px;
}

.NavMenu li a {
  transition: all 0.5s ease 0s;
}

.NavMenu li a:hover {
  color: rgb(0, 255, 221);
}

/*ScrollBar styling*/
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(105, 133, 143); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(51, 63, 68); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px; /* creates padding around scroll thumb */
}

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 63, 68) rgb(105, 133, 143);
}

/*Style for different dimensions*/
@media screen and (max-width: 802px) {
  .Footer {
    padding-top: 2rem;
    height: 18vh;
  }

  .FooterHeading h2 {
    font-size: 1.2em;
  }

  .FooterHeading a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 690px) {
  .Footer {
    padding-top: 2rem;
    height: 20vh;
  }

  .FooterHeading {
    width: 25%;
  }

  .FooterHeading h2 {
    font-size: 1.2em;
  }

  .FooterHeading a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 560px) {
  #NavButton {
    display: none;
  }
}
