* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Zen Dots', cursive;
    font-size: 16px;
}

#LogoImage {
    width: 90px;
    height: 90px;
    display: block;
    cursor: pointer;
    margin-right:auto;
}

#Title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee Inline', cursive;
    font-size: 5em;
    color: rgb(31, 210, 255);
}

Body {
    background-color: #4c3f54;
    height: 100%;
    min-height: 100%;
}

main{
    min-height: 100%;
    overflow: auto;
}

/*Footer code*/

.FooterContainer {
    background-color: #7e5699;
    position: relative;
    margin-top: -100px;
    clear: both;
    padding: 2rem 0 1rem;
    margin: 6rem auto 0;
    box-sizing: border-box;
    display: block;
    bottom: 0;
}

.Footer {
    width: 80%;
    height: 15vh;
    background-color: #7e5699;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    bottom: 0;
}

.FooterHeading {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.FooterHeading h2 {
    margin-bottom: 1rem;
    font-size: 1.4em;
}

.FooterHeading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.FooterHeading a:hover {
    color: rgb(0, 255, 221);
    transition: 0.3s ease-out;
}

/*Style for different dimensions*/
@media screen and (max-width: 802px) {
    .Footer {
        padding-top: 2rem;
        height: 18vh;
    }

    .FooterHeading h2 {
        font-size: 1.2em;
    }

    .FooterHeading a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 690px) {
    .Footer {
        padding-top: 2rem;
        height: 20vh;
    }

    .FooterHeading{
        width:25%;
    }

    .FooterHeading h2 {
        font-size: 1.2em;
    }

    .FooterHeading a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 560px) {
    #NavButton{
        display: none;
    }
}

/*Nav Menu configuration*/
header li, header a, header Button{
    font-weight: 800;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerDiv{
    display: block;
    margin-right:auto;
}


.NavMenu{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.NavMenu li {
    display: inline-block;
    padding: 0px 20px;
}

.NavMenu li a {
    transition: all 0.5s ease 0s;
}

.NavMenu li a:hover {
    color: rgb(0, 255, 221);
}

#Body{
    height: 100%;
    background: linear-gradient(90deg, #4c3f54 50%, #e2d1d1 50%);
}

.container{
    margin: 0 auto;
    padding: 0 3rem;
    margin-top:2rem;
    text-align: center;
}

.profile-section-left h1, .profile-section-left h2, .profile-section-left p{
    color: #e2d1d1;
}

.profile-section-right h1, .profile-section-right h2, .profile-section-right p{
    color: #8d4eb4;
}


  /* Control the left side */
.right {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
    background-color: #e2d1d1;
    z-index: 1010101010
}

  /* Control the right side */
.left {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #4c3f54;
    z-index: 1010101010
}

.center img{
    height: 100px;
}

#NavList li a{
    color: black;
}

.container h1{
    font-weight: 800;
    font-family: "Bungee Inline", cursive;
    font-size: 2.5em;
}

.container h2{
    padding-bottom: 20px;
    font-size: 1.4em;
}

.container p{
    font-size: 1.1em;
}