#Body{
    height: 100%;
    background: linear-gradient(90deg, #4c3f54 50%, #e2d1d1 50%);
}

.container{
    margin: 0 auto;
    padding: 0 3rem;
    margin-top:2rem;
    text-align: center;
}

.profile-section-left h1, .profile-section-left h2, .profile-section-left p{
    color: #e2d1d1;
}

.profile-section-right h1, .profile-section-right h2, .profile-section-right p{
    color: #8d4eb4;
}


  /* Control the left side */
.right {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
    background-color: #e2d1d1;
    z-index: 1010101010
}

  /* Control the right side */
.left {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #4c3f54;
    z-index: 1010101010
}

.center img{
    height: 100px;
}

#NavList li a{
    color: black;
}

.container h1{
    font-weight: 800;
    font-family: "Bungee Inline", cursive;
    font-size: 2.5em;
}

.container h2{
    padding-bottom: 20px;
    font-size: 1.4em;
}

.container p{
    font-size: 1.1em;
}