* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Zen Dots', cursive;
    font-size: 16px;
}

#LogoImage {
    width: 90px;
    height: 90px;
    display: block;
    cursor: pointer;
    margin-right:auto;
}

Body {
    height: 100%;
    min-height: 100%;
}

main{
    min-height: 100%;
    overflow: auto;
}

/*Main Styling*/

.header .HeaderDiv{
    background-color: #585b69;
}

.header h2{
    font-family: "Zen Dots", cursive;
    font-weight: 800;
    padding: 5px;
}

.NavDiv{
    height:70px;
    
}

#NavDivR{
    background-color: #3a343f;
}

#NavDivL{
    background-color: #212124;
}

  /* Control the right side */
.Secright {
    position: fixed;
    width: 100%;
    float: right;
    height: 100%;
    background-color: #453e4b;
    z-index: 1010101010
}

/* Control the left side */
.Secleft {
    position: fixed;
    width: 15%;
    min-width: 150px;
    float: left;
    height: 100%;
    background-color: #2b2b2c;
    z-index: 1010101010
}

/*ScrollBar styling*/
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(105, 133, 143);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(51, 63, 68);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px;  /* creates padding around scroll thumb */
}

/* Works on Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: rgb(51, 63, 68) rgb(105, 133, 143);
}

/*Style for different dimensions*/
@media screen and (max-width: 802px) {
    .Footer {
        padding-top: 2rem;
        height: 18vh;
    }

    .FooterHeading h2 {
        font-size: 1.2em;
    }

    .FooterHeading a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 690px) {
    .Footer {
        padding-top: 2rem;
        height: 20vh;
    }

    .FooterHeading{
        width:25%;
    }

    .FooterHeading h2 {
        font-size: 1.2em;
    }

    .FooterHeading a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 560px) {
    #NavButton{
        display: none;
    }
}