#LogoImage{
    width: 100px;
    height: 100px;
    display: block;
    margin: left;
}

#Title{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-family: 'Zen Dots', cursive;
    font-size: 4em;
    font-weight: 800;
}

#Body{
    background-color: #4C3F54F7;
}

#Subtitle{
    text-align: left;
    text-transform: uppercase;
    color: rgb(255,255,255);
    padding-left: 10px ;
}

span{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255,255,255);
}


