#LogoImage {
    width: 100px;
    height: 100px;
    display: block;
    margin: left;
}

#Title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee Inline', cursive;
    font-size: 5em;
    color: rgb(31, 210, 255);
}

#Body {
    background-color: #4c3f54;
}

#Subtitle {
    text-align: left;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

p {
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 60%;
    height: 100px;
    padding: 15px;
    margin: auto ;
}
