#LogoImage{
    width: 200px;
    height: 200px;
}

#Title{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255,255,255);
    
}

#Body{
    background-color: #4C3F54F7;
}


